body{
    background-color:rgb(255, 0, 76)
}

.container{
    background-color:aliceblue;
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

h2{
    color: rgb(255, 0, 76);
}

th, td{
    text-align: center;
}

#finalTotalAmount{
    font-weight: bolder;
    font-size: 20px;
    color: red;
}
